<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>Encryption Application</title>
</head>
<body>
  <h1>Message Here</h1>
    <p> Here is a secrect encryption that you could send to your friends! Try it out, Now!</p>
  <form method = POST action = "/result">
      Enter Message <br>
      <input type = "text" name = "message" value = "Input message here"><br>
      <input type = "radio" name = "encrypt" value = "encrypt">Encrypt<br>
      <input type = "radio" name = "encrypt" value = "decrypt">Decrypt<br>
  <input type="submit" name="Encrypt Your Message"><br>
   <form>
<br>

</form>
  <section>
 
  </section>
  <section>
    <h2></h2>
  </section>
</body>
